.noFoto {
  width: 47px;
  height: 47px;
  border-radius: 13px 3px;
  background: #6760da;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  margin: 0 0.5rem 0 0;
}

.card {
  margin: 0 0.5rem 0 0 ;
  background: #f1f0f0;
  max-width: 20rem;
  min-height: 47px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 25%);
  position: relative;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 3px;
}

.info {
  color: #4c414a;
  font-size: 14px;
  width: 150px;
}

.infoName {
  font-size: 16px;
  text-align: start;

}
