.settings {
  max-width: 1000px;
  margin: 0 auto;
  color: #4c414a;
  padding-bottom: 50px;
}
.scramMaster {
  padding: 1rem 0;
}

.scramMasterCard {
  background: #f1f0f0;
  max-width: 20rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 25%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 3px;
}
.settingsTop {
  padding: 3rem 0 0;

  h3,
  h6 {
    text-align: left;
  }
}
.scramMasterFoto,
.memberFoto {
  width: 50px;
}

.scramMasterInfo,
.memberInfo,
.issuesInfo {
  // padding-left: 1rem;
  color: #4c414a;
  font-size: 12px;
  width: 150px;
}

.issuesPriority {
  font-size: 14px;
}

.scramMasterInfoName,
.memberInfoName,
.issuesInfoName {
  font-size: 16px;
  text-align: start;
}

.inputLinkLobby {
  border-radius: 5px 0 0 5px;
  border: 1px solid #000;
  padding: 0.6rem 0.5rem;
}
.copyLinkLobby {
  display: flex;
  align-items: center;
}
.linkLobby {
  padding: 1rem 0;
}
.settingsTopButtons {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.settingsMembers,
.settingsIssues,
.settingsGame,
.gameCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
}
.memberCard,
.issuesCard {
  margin: 0.5rem;
  background: #f1f0f0;
  max-width: 20rem;
  min-height: 47px;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 25%);
  position: relative;
}

.issueAddBtns {
  width: 100%;
  display: flex;
  justify-content: start;
}

.memberInfo {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.memberDelete {
  width: 50px;
}
.iconDel {
  width: 20px;
  height: 20px;
}

.issuesChangeIcon,
.issuesDelIcon,
.issuesAddIcon {
  width: 20px;
  height: 20px;
}
.issuesChangeIcon:hover,
.issuesDelIcon:hover,
.iconDel:hover {
  cursor: pointer;
}
.issuesInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
}

.memberTitle,
.issuesTitle,
.gameTitle,
.settingsGameItem,
.gameCardsTitle {
  width: 100%;
  align-items: center;
  text-align: center;
  font-family: 'Ruda', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 10px;
}
.issuesChange {
  padding: 0 1rem;
}

.masterPlayer {
  padding: 1rem;
  max-width: 500px;
  text-align: start;
}
.settingsGameItem {
  max-width: 500px;
  text-align: start;
}
.settingsGame {
  flex-direction: column;
  justify-content: flex-start;
}
.settingsGame:nth-child(2) {
  padding: 1rem;
  // max-width: 500px;
  text-align: start;
}

.noFoto {
  width: 47px;
  height: 47px;
  border-radius: 13px 3px;
  background: #6760da;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  margin: 0 0.5rem 0 0;
}
.inputTopic {
  border: none;
  border-bottom: #000 solid 1px;
  width: 80%;
  text-align: center;
  font-family: 'Ruda', sans-serif;
  font-size: 16px;
}
.topic {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardItem {
  width: 8rem;
  height: 10rem;
  box-shadow: 1px 0px 4px black;
  border-radius: 1rem;
  font-size: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Ruda', sans-serif;
  margin: 1rem;
}
.settingsPlayer {
  display: flex;
  justify-content: flex-end;
}
.isObserver {
  padding: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.isObserverIcon {
  width: 100%;
  height: 100%;
}
.isObserverCard {
  background-color: #98999933;
  box-shadow: inset 0px 4px 6px black;
}
