.settings {
  max-width: 1000px;
  margin: 0 auto;
  // font-size: 24px;
  color: #000;
  padding-bottom: 50px;
}
.scramMaster {
  padding: 1rem 0;
}

.scramMasterCard {
  max-width: 20rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.settingsTop {
  padding: 3rem 1rem 0;
  h3,
  h6 {
    text-align: left;
  }
}
.scramMasterFoto,
.memberFoto {
  width: 50px;
}

.scramMasterInfo,
.memberInfo,
.issuesInfo {
  // padding-left: 1rem;
  color: #000000;
  font-size: 18px;
  width: 150px;
}
.scramMasterInfoName,
.memberInfoName,
.issuesInfoName,
.issuesCardAddTitle{
  font-size: 26px;
  text-align: start;
}
.inputLinkLobby {
  border-radius: 0 0 0 2px;
}
.copyLinkLobby {
  display: flex;
  align-items: center;
}
.linkLobby {
  padding: 1rem 0;
}
.settingsTopButtons {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.settingsMembers,
.settingsIssues,
.settingsGame,
.gameCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
}
.memberCard,
.issuesCard,
.issuesCardAdd {
  margin: 0.5rem;
  max-width: 20rem;
  padding: 1rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  position: relative;
}
.memberInfo {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.memberDelete {
  width: 50px;
}
.iconDel{
  width: 40px;
  height: 40px;
}

.issuesChangeIcon,
.issuesDelIcon,
.issuesAddIcon {
  width: 30px;
  height: 30px;
}
.issuesChangeIcon:hover,
.issuesDelIcon:hover,
.issuesAddIcon:hover,
.iconDel:hover{
  cursor: pointer;
}
.issuesInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.issuesPriority{

}
.memberTitle,
.issuesTitle,
.gameTitle,
.settingsGameItem,
.gameCardsTitle {
  width: 100%;
  align-items: center;
  text-align: center;
  font-family: "Ruda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 10px;
}
.issuesChange {
  padding: 0 1rem;
}
.issuesAdd {
  padding-left: 1rem;
 
}

.masterPlayer{
  padding: 1rem;
  max-width: 500px;
  text-align: start;
}
.settingsGameItem{
  max-width: 500px;
  text-align: start;
}
.settingsGame {
  flex-direction: column;
  justify-content: flex-start;
}
.settingsGame:nth-child(2){
  padding: 1rem;
  // max-width: 500px;
  text-align: start;
}
.button {
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #496a81;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.5rem 2rem;
}

.buttonBlue {
  color: #ffffff;
  background: #2b3a67;
}
.buttonWhite {
  color: #2b3a67;
  background: #ffffff;
}
.noFoto {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #60dabf;
  font-weight: bold;
  box-shadow: inset 0px 4px 4px black;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px black;
  justify-content: center;
  margin: 0 0.5rem;
}
.inputTopic {
  border: none;
  border-bottom: #000 solid 1px;
  width: 80%;
  text-align: center;
  font-family: "Ruda", sans-serif;
  font-size: 24px;
  // box-shadow: inset 0px 4px 4px black;
}
.topic {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardItem{
  width: 8rem;
  height: 10rem;
  box-shadow: 1px 0px 4px black;
  border-radius: 1rem;
  font-size: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ruda", sans-serif;
  margin: 1rem;
}
.settingsPlayer{
  display: flex;
  justify-content: flex-end;
}
.isObserver{

    padding: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.isObserverIcon{
  width: 100%;
  height: 100%;
}
.isObserverCard{
background-color: #98999933;
box-shadow: inset 0px 4px 4px black;
// color: #989999;
}


