.header {
  font-family: "Roboto", sans-serif;
}

.logoImg {
  position: absolute;
  top: 10px;
  left: 60px;
}
.headerTop {
  background-color: #2b3a67;
  height: 50px;
  width: 100%;
}
.headerBottom {
  background-color: #66999b;
  height: 20px;
  width: 100%;
}
